.buttons {
    -fx-background-color:linear-gradient(to top, #c8c814, #edf303);;
    -fx-pref-width: 80;
    -fx-pref-height: 30;
   -fx-background-radius: 10;
}
.buttons:hover{
    -fx-border-color: white;
    -fx-border-radius: 10px;
}
.buttons:pressed{
    -fx-background-color:linear-gradient(to top, #c86814, #edf303);;
}
.greenGradient{
    -fx-background-color: radial-gradient(focus-angle 360deg,focus-distance 10%,center 50%50%,radius 30%, #239125, #055b0a);
}

#rulesPanel{
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-font-size: 13;
}

.highScoreBox{
    -fx-background-color: rgba(5, 91, 10, 0.9);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 2;
}

.highScoreText{
    -fx-font-size: 16;
    -fx-text-fill: white ;
}
.highScoreTitle{
    -fx-font-size: 20;
    -fx-text-fill: white;
}
.textFieldHighScore{
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-pref-height: 30;
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}
.highScoreNotice{
    -fx-text-fill: white;
    -fx-font-size: 14;
}

.highScoreBackground{
    -fx-background-color: rgba(0, 0, 0, 0.3)
}